@import url('https://fonts.googleapis.com/css2?family=Georama:ital,wdth,wght@0,87.5,100..900;1,87.5,100..900&family=Gilda+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

@import '_variables';
@import '_functions';
@import '_header';
@import '_sectionHome';
@import '_sectionOptionsContent';
@import '_sectionHighlightPlayers';
@import '_sectionNationsOfWorld';


// Estilos para as estrelas
$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

html {
    &::-webkit-scrollbar {
      width: 10px;
    }
  
    &::-webkit-scrollbar-thumb {
      border-radius: 50px;
      background: #9FA8B2;
    }
  
    &::-webkit-scrollbar-track {
      background: #ededed;  
    }
  
    body {
        font-family:  'Georama','Poppins', Inter, sans-serif;
        font-size: 10px!important;
        margin: 0;
        padding: 0;
        width: 100%;
        min-height: 100dvh;
        overflow-y: auto;
        overflow-x: hidden;
        box-sizing: border-box;
        text-align: center;
        background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%)!important;
        color: $secondary-color !important;
        box-sizing: border-box;

        a {
            color: $secondary-color !important;
        }

        &.open-menu::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, .42);
            z-index: 998;
            animation: fadeIn 0.3s ease-in-out forwards;
        }

        .home{
            height: 100dvh;
            overflow: hidden;
        }

        #stars {
            width: 1px;
            height: 1px;
            background: transparent;
            box-shadow: $shadows-small;
            animation: animStar 50s linear infinite;

            &:after {
                content: " ";
                position: absolute;
                top: 2000px;
                width: 1px;
                height: 1px;
                background: transparent;
                box-shadow: $shadows-small;
            }
        }

        #stars2 {
            width: 2px;
            height: 2px;
            background: transparent;
            box-shadow: $shadows-medium;
            animation: animStar 100s linear infinite;

            &:after {
                content: " ";
                position: absolute;
                top: 2000px;
                width: 2px;
                height: 2px;
                background: transparent;
                box-shadow: $shadows-medium;
            }
        }

        #stars3 {
            width: 3px;
            height: 3px;
            background: transparent;
            box-shadow: $shadows-big;
            animation: animStar 150s linear infinite;

            &:after {
                content: " ";
                position: absolute;
                top: 2000px;
                width: 3px;
                height: 3px;
                background: transparent;
                box-shadow: $shadows-big;
            }
        }

        footer{
            // background-color: #0D1117;
            font-family: 'Poppins', sans-serif;
            color: #6e6d7a;
            font-size: .8rem;
            
            .footer-content{
                position: relative;

                &:before {
                    content: '';
                    position: absolute;
                    top: 0;  
                    left: 0;
                    width: 100%;  
                    height: 1px;  
                    opacity: 0.3;
                    background-color: #6e6d7a;  
                }
                .icons {
                    cursor: pointer;
                    .instagram-icon{
                        margin-right: .5rem;
                    }
                }

                @media (max-width: 768px) {
                    flex-direction: column;
                }
            }
        }

        @keyframes animStar {
            from {
                transform: translateY(0px);
            }

            to {
                transform: translateY(-2000px);
            }
        }

        .amcharts-chart-div .amcharts-logo {
            display: none; 
        }
    }
    
}

#slick {
    display: none;

    &.slick-initialized {
        display: block;
    }
    // .slick-list {
    //     margin-left: -15px;
    //     margin-right: -15px;
    // }
    // .slick-slide {
    //   padding-right: 15px;
    //   padding-left: 15px;
    // }
    
    .slick-arrow {
        position: absolute;
        width: 17px;
        height: 1.8rem;
        top: 50%;
        background-color: transparent;
        border: none;
        -webkit-appearance: none;
        padding: 0;
        z-index: 100;
        transform: translateY(-50%);
        overflow: hidden;
        text-indent: 1000px;

        &:hover {
            cursor: pointer;
        }
        &:focus {
            outline: none;
        }
    }
    .slick-prev {
      background-image: url('../images/arrow-left.svg');
    }
    
    .slick-next {
      background-image: url('../images/arrow-right.svg');
    }
    
  }
  
      
  
  


/* Filtro Listagem jogadores */
.filter-input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    gap: 15px;
}

.filter-input input {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 30px;
    background-color: #2b2e33;
    /* Fundo mais claro para melhorar contraste */
    color: #FFD700;
    /* Cor dourada para um bom contraste */
    outline: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.filter-input input:focus {
    background-color: #333740;
    box-shadow: 0px 0px 10px rgba(255, 215, 0, 0.8);
    /* Brilho ao redor do campo */
}

.filter-input input::placeholder {
    color: #FFD700;
    /* Placeholder com uma cor clara visível */
}

/* Adicionar display flex para alinhar as cards uniformemente */
.jogador-card {
    background: linear-gradient(135deg, #1d253c, #151a30);
    border-radius: 15px;
    padding: 15px;
    color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100%;
    margin-bottom: 30px;
    
    box-shadow: none;
}

.jogador-card:hover {
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.jogador-card .card-img-top-jogador {
    border-radius: 15px 15px 0 0;
    transition: all 0.3s ease;
    max-height: 400px;
    /* Controla a altura máxima da imagem */
    object-fit: cover;
    /* Garante que a imagem preencha o espaço sem distorções */
    width: 100%;
}

.jogador-card:hover .card-img-top-jogador {
    opacity: 0.9;
    transform: rotate(-2deg) scale(1.05);
            /* Rotação leve e aumento no hover */
}

.jogador-card .card-body {
    text-align: center;
    background: linear-gradient(135deg, #1d253c, #151a30);
    padding: 15px;
    flex-grow: 1;
    /* Garante que o conteúdo do card preencha o espaço disponível */
}

.jogador-card h5 {
    margin-top: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    min-height: 60px;
    /* Define um tamanho mínimo para o título */
}

/* Ajustes na informação do jogador */
.jogador-card .card-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: #FFD700;
}

.jogador-card .card-info span {
    font-size: 0.9rem;
}

.jogador-card .card-info .nickname {
    color: #FFD700;
    font-weight: bold;
}

.jogador-card .card-info .position {
    background-color: rgba(255, 215, 0, 0.2);
    padding: 5px 10px;
    border-radius: 20px;
}

/* Botão Leia Mais */
.jogador-card .btn-primary {
    background-color: #FFD700;
    color: #000;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 15px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    align-self: center;
    /* Garante que o botão fique centralizado */
}

.jogador-card .btn-primary:hover {
    background-color: #FFBF00;
    color: #000;
    box-shadow: 0px 4px 15px rgba(255, 223, 0, 0.7);
    /* Efeito de luz no botão */
    transform: translateY(-2px);
    /* Efeito de leve elevação */
}

/* Responsividade */
@media (max-width: 768px) {
    .filter-input {
        flex-direction: column;
        gap: 10px;
    }

    .jogador-card {
        margin-bottom: 20px;
        padding: 10px;
    }

    .jogador-card h5 {
        font-size: 1.2rem;
    }

    .jogador-card .card-img-top-jogador {
        max-height: 250px;
        transition: all 0.4s ease;
    }
}
/* Animação */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
        /* Início da rotação */
    }

    100% {
        transform: rotate(360deg);
        /* Rotação completa */
    }
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

input#nome,
input#nacionalidade,
input#periodo {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 10px;
    font-size: 1rem;
}

input#nome:focus,
input#nacionalidade:focus,
input#periodo:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

