//Colors
$primary-color: oklch(25.37% 0.03 259.27);
$secondary-color: oklch(99.99% 0 0);
$background-color: oklch(4.68% 0.03 260.74)!important;
$background-gradient: linear-gradient(94deg, oklch(5.5% 0.04 261.73) 0%, oklch(12.3% 0.06 258.95) 70%, oklch(21.8% 0.08 255.65) 100%);
$highlight-color: oklch(94.17% 0.15 99.48);
$text-shadow-color: oklch(60.55% 0.24 28.34);
$hover-bg-color: oklch(36.12% 0.07 248.22);
$hover-menu-color: oklch(53.22% 0.162 282.27);
$card-background-color: oklch(22.18% 0.05 252.91);
$info-card-bg: oklch(0% 0 0 / 80%);
$info-card-shadow: 0 0 15px oklch(0% 0 0 / 50%);

$icon-size: 50px;
$icon-hover-scale: 1.1;
$banner-height: 400px;

//Data URI
$svg-icon: "data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 100 100'%3E%3Cpolygon points='50,10 60,40 90,50 60,60 50,90 40,60 10,50 40,40' fill='%23808080'/%3E%3C/svg%3E";
