@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wdth,wght@0,87.5,100..900;1,87.5,100..900&family=Gilda+Display&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
:root {
  --color-text-bright: #fff; }

header .header-principal {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 auto;
  font-family: 'Georama', sans-serif;
  font-size: clamp(1rem, calc(0.904rem + 0.481vw), 1.25rem);
  font-weight: 600;
  line-height: 130%;
  color: oklch(99.99% 0 0);
  min-height: 84px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  background-color: rgba(1, 8, 14, 0.9); }
  header .header-principal.scroll-on {
    position: fixed;
    backdrop-filter: blur(3px);
    background-color: rgba(1, 8, 14, 0.9); }
  @media (max-width: 768px) {
    header .header-principal.ativo {
      backdrop-filter: blur(3px);
      background-color: rgba(1, 8, 14, 0.9); }
      header .header-principal.ativo .header__nav--menu {
        display: block; }
        header .header-principal.ativo .header__nav--menu .menu-items {
          display: -webkit-flex;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          flex-direction: column;
          margin: 0.5rem 0 0 0.5rem !important;
          animation: fadeIn 0.2s 0.2s ease-in-out backwards; }
      header .header-principal.ativo .header__nav--menu-hamburguer .close-icon {
        display: block; }
      header .header-principal.ativo .header__nav--menu-hamburguer .hamburger-icon {
        display: none; } }
header .header__nav {
  display: grid;
  grid-template-areas: "navmenu changelanguage";
  grid-template-columns: 1fr 100px;
  grid-template-rows: 100px;
  align-items: center; }
  @media (max-width: 768px) {
    header .header__nav {
      grid-template-areas: "menuhamb menuhamb changelanguage" "navmenu navmenu navmenu";
      grid-template-columns: 1px 5fr 1fr;
      grid-template-rows: auto auto;
      max-width: 100% !important; } }
  header .header__nav--menu-hamburguer {
    grid-area: menuhamb; }
    header .header__nav--menu-hamburguer .mobile-menu-button {
      --width: 3.5rem;
      --height: 3.5rem;
      --line-thickness: 2px;
      --line-spacing: 3px;
      cursor: pointer;
      display: block;
      width: var(--width);
      height: var(--height);
      z-index: 100; }
      header .header__nav--menu-hamburguer .mobile-menu-button::before, header .header__nav--menu-hamburguer .mobile-menu-button::after {
        --width: 100%;
        --height: 100%;
        content: '';
        position: absolute;
        top: 2.5rem;
        left: 2rem;
        width: var(--width);
        height: var(--height); }
      header .header__nav--menu-hamburguer .mobile-menu-button:hover::before, header .header__nav--menu-hamburguer .mobile-menu-button:hover::after, header .header__nav--menu-hamburguer .mobile-menu-button:focus::before, header .header__nav--menu-hamburguer .mobile-menu-button:focus::after {
        --color-text-bright: #6e6ea9; }
    header .header__nav--menu-hamburguer .hamburger-icon {
      display: block;
      clip-path: polygon(0 120%, 0 0, 100% 0, 100% 0); }
      header .header__nav--menu-hamburguer .hamburger-icon::before, header .header__nav--menu-hamburguer .hamburger-icon::after {
        --height: calc(var(--line-thickness) * 3 + var(--line-spacing) * 2);
        inset-block-start: calc(50% - var(--height) / 2); }
      header .header__nav--menu-hamburguer .hamburger-icon::before {
        border-block: var(--line-thickness) solid var(--color-text-bright); }
      header .header__nav--menu-hamburguer .hamburger-icon::after {
        border-block-start: var(--line-thickness) solid var(--color-text-bright);
        margin-block-start: calc(var(--line-thickness) + var(--line-spacing)); }
    header .header__nav--menu-hamburguer .close-icon {
      display: none; }
      header .header__nav--menu-hamburguer .close-icon::before, header .header__nav--menu-hamburguer .close-icon::after {
        --width: 2rem;
        --height: 0;
        border-block-start: var(--line-thickness) solid var(--color-text-bright);
        transform-origin: 50% 50%;
        margin-inline: auto; }
      header .header__nav--menu-hamburguer .close-icon::before {
        transform: rotate(45deg); }
      header .header__nav--menu-hamburguer .close-icon::after {
        transform: rotate(-45deg); }
    @media (min-width: 768px) {
      header .header__nav--menu-hamburguer {
        display: none; } }
  header .header__nav--menu {
    grid-area: navmenu;
    display: block; }
    @media (max-width: 768px) {
      header .header__nav--menu {
        display: none; } }
    header .header__nav--menu ul {
      display: flex;
      align-items: start;
      flex-direction: row;
      gap: 20px; }
      header .header__nav--menu ul li:not(:last-child)::after {
        content: "";
        display: inline-block;
        width: .7rem;
        height: .7rem;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 100 100'%3E%3Cpolygon points='50,10 60,40 90,50 60,60 50,90 40,60 10,50 40,40' fill='%23808080'/%3E%3C/svg%3E");
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 8px;
        vertical-align: middle; }
        @media (max-width: 768px) {
          header .header__nav--menu ul li:not(:last-child)::after {
            background-image: none; } }
      header .header__nav--menu ul li a {
        position: relative; }
        header .header__nav--menu ul li a::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -4px;
          width: 0;
          height: 1px;
          -webkit-transition: all 0.3s ease;
          transition: all 0.3s ease;
          background-color: oklch(53.22% 0.162 282.27); }
        header .header__nav--menu ul li a:hover {
          color: oklch(53.22% 0.162 282.27) !important; }
          header .header__nav--menu ul li a:hover::before {
            width: 1.375rem; }
  header .header__nav--change-language {
    grid-area: changelanguage;
    font-size: 0.7rem; }
    header .header__nav--change-language .dropdown-language {
      display: flex;
      width: 3.2rem;
      height: 3.2rem;
      padding: 5px 6px;
      text-transform: none;
      background: linear-gradient(100deg, #662C0C, #150633);
      border-radius: 6rem;
      align-items: center;
      justify-content: center; }
    header .header__nav--change-language .dropdown-menu {
      background-color: #1e272e; }
      header .header__nav--change-language .dropdown-menu li a {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: .5rem .5rem 0; }
        header .header__nav--change-language .dropdown-menu li a:hover {
          background-color: #384855 !important; }
        header .header__nav--change-language .dropdown-menu li a img {
          width: 2rem; }
    @media (max-width: 768px) {
      header .header__nav--change-language {
        display: flex;
        align-items: center; } }
.section-home {
  height: calc(100vh - 12vh);
  padding-top: 7rem;
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-areas: "info img";
  align-items: center;
  justify-items: center;
  gap: 10rem; }
  @media (max-width: 768px) {
    .section-home {
      grid-template-columns: none;
      grid-template-rows: 1fr;
      text-align: center;
      gap: 0px; } }
  .section-home--content__info {
    grid-area: info;
    text-align: left; }
    .section-home--content__info h1 {
      text-transform: uppercase;
      color: oklch(99.99% 0 0);
      text-shadow: 1px 1px 3px black;
      font-family: 'Chakra Petch', sans-serif;
      font-size: clamp(3.5rem, calc(2.5rem + 2vw), 7rem);
      position: relative; }
      .section-home--content__info h1 span {
        font-size: 3rem;
        text-transform: lowercase;
        font-family: 'Gilda Display', sans-serif; }
    .section-home--content__info p {
      font-size: clamp(1rem, calc(0.904rem + 0.481vw), 1.4rem);
      font-weight: 200;
      color: oklch(99.99% 0 0);
      font-family: 'Poppins', sans-serif;
      text-align: justify; }
      .section-home--content__info p span {
        font-weight: bold; }
      @media (min-width: 768px) {
        .section-home--content__info p {
          max-width: 95%; } }
    @media (max-width: 768px) {
      .section-home--content__info {
        padding: 1rem; } }
  .section-home-content__info-img {
    grid-area: img;
    display: flex;
    justify-content: center;
    position: relative; }
    .section-home-content__info-img-bola {
      position: absolute;
      top: 20%;
      right: 64%;
      z-index: 1;
      animation: spin 80s linear infinite;
      width: clamp(15rem, calc(12rem + 12vw), 25rem);
      height: clamp(15rem, calc(12rem + 12vw), 25rem); }
      @media (max-width: 768px) {
        .section-home-content__info-img-bola {
          display: none; } }
    .section-home-content__info-img::before {
      content: "";
      position: absolute;
      width: 25rem;
      height: 25rem;
      right: 17rem;
      top: 5rem;
      background: radial-gradient(circle at top right, #FFD600 20%, #AF5829 60%, #FF004D);
      filter: blur(50px);
      z-index: -1;
      border-radius: 50%;
      opacity: 0.3; }
      @media (max-width: 768px) {
        .section-home-content__info-img::before {
          top: -6rem; } }
    .section-home-content__info-img-mosaico {
      opacity: .7;
      width: clamp(20rem, calc(20vw + 20rem), 40rem);
      height: clamp(20rem, calc(20vw + 15rem), 40rem); }
      @media (max-width: 768px) {
        .section-home-content__info-img-mosaico {
          display: none; } }
.options-content--list {
  gap: 32px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  display: flex;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center; }
  @media (max-width: 768px) {
    .options-content--list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0px; } }
.options-content--item {
  position: relative;
  width: clamp(18rem, calc(5vw + 1rem), 26rem);
  color: #D7F9FF;
  margin-bottom: 2rem;
  color: #D7F9FF;
  margin-bottom: 2rem; }
  .options-content--item:before {
    z-index: -2;
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    background-color: oklch(53.22% 0.162 282.27);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%); }
  .options-content--item:after {
    z-index: -1;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #021017;
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 40px), calc(100% - 40px) 100%, 0 100%); }
  .options-content--item:hover {
    transform: translateY(-5px);
    filter: drop-shadow(2px 9px 50px oklch(0.52 0.06 287.09)); }
  .options-content--item img {
    width: 4rem;
    display: grid;
    margin: 0 1rem; }
  .options-content--item a {
    display: block;
    padding: 1.5rem; }
  .options-content--item .shadow {
    position: absolute;
    width: 100%;
    height: 5rem;
    left: 0rem;
    bottom: 1rem;
    background: radial-gradient(circle at bottom left, #00FFDD 20%, #0066FF 60%, #3300FF);
    filter: blur(50px);
    z-index: 0;
    border-radius: 50%;
    opacity: 0.3;
    transition: opacity 0.3s ease-in-out; }
  @media (max-width: 768px) {
    .options-content--item {
      min-width: 90%; } }
.options-content--title {
  color: oklch(53.22% 0.162 282.27);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 150%;
  text-transform: uppercase;
  margin-top: 1.5rem;
  display: flex; }

.options-content--text {
  color: #D7F9FF;
  font-size: 1rem;
  line-height: 150%;
  margin-top: 1.5rem;
  text-align: justify; }

.highlight-players {
  position: relative;
  background: linear-gradient(94deg, oklch(5.5% 0.04 261.73) 0%, oklch(12.3% 0.06 258.95) 70%, oklch(21.8% 0.08 255.65) 100%); }
  .highlight-players--content {
    display: flex;
    z-index: 5;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    position: relative;
    gap: 3rem;
    padding: 3.5rem; }
    @media (max-width: 768px) {
      .highlight-players--content {
        flex-direction: column; } }
    .highlight-players--content-header {
      max-width: 416px;
      min-width: 416px;
      justify-content: center;
      align-items: center;
      display: flex;
      flex-direction: column; }
      @media (max-width: 768px) {
        .highlight-players--content-header {
          min-width: 100%;
          margin: 0 auto; } }
    .highlight-players--content-title {
      font-family: "Chakra Petch", sans-serif;
      font-size: 2.5rem;
      line-height: 3.125rem;
      font-weight: 700;
      margin: 1rem 0;
      mix-blend-mode: difference;
      color: oklch(99.99% 0 0); }
      .highlight-players--content-title span {
        color: oklch(53.22% 0.162 282.27); }
    .highlight-players--content-text {
      margin-top: 1rem;
      font-size: 1.125rem;
      line-height: 1.875rem; }
    .highlight-players--content-seeMore {
      position: relative;
      display: flex;
      width: 100%;
      margin-top: 2.5rem;
      border-radius: 30px;
      text-decoration: none;
      font-weight: 600;
      font-size: .875rem;
      text-align: center;
      text-transform: uppercase;
      color: white;
      background-color: #091932;
      align-items: center;
      justify-content: center; }
      .highlight-players--content-seeMore span {
        display: block;
        background-color: #091932;
        padding: 1rem;
        border-radius: 30px; }
      .highlight-players--content-seeMore:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        inset: -3px;
        z-index: -1;
        border-radius: 30px;
        background: linear-gradient(to right, #865CD8, #0D2347, #865CD8, #0D2347, #865CD8);
        background-size: 400%;
        animation: gradientAnimation 20s linear infinite; }
    .highlight-players--content-list-cards article {
      margin: 0 .625rem; }
      .highlight-players--content-list-cards article > div img {
        border-radius: 9px; }

@keyframes gradientAnimation {
  0% {
    background-position: 0 0; }
  100% {
    background-position: 400% 0; } }

.nations-of-world-header {
  font-family: "Chakra Petch", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; }

.nations-of-world #chartdiv {
  pointer-events: none; }

.nations-of-world-icons {
  text-align: center;
  margin-top: 20px; }
  .nations-of-world-icons .icon {
    display: inline-block;
    margin: 0 10px; }
    .nations-of-world-icons .icon img {
      width: 50px;
      height: 50px;
      cursor: pointer;
      transition: transform 0.3s ease; }
      .nations-of-world-icons .icon img:hover {
        transform: scale(1.1); }

.nations-of-world-card {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  z-index: 1000; }
  .nations-of-world-card button #btnCloseInfoCard:hover {
    color: oklch(53.22% 0.162 282.27); }

html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }
  html::-webkit-scrollbar {
    width: 10px; }
  html::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #9FA8B2; }
  html::-webkit-scrollbar-track {
    background: #ededed; }
  html body {
    font-family: 'Georama','Poppins', Inter, sans-serif;
    font-size: 10px !important;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100dvh;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    text-align: center;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%) !important;
    color: oklch(99.99% 0 0) !important;
    box-sizing: border-box; }
    html body a {
      color: oklch(99.99% 0 0) !important; }
    html body.open-menu::before {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.42);
      z-index: 998;
      animation: fadeIn 0.3s ease-in-out forwards; }
    html body main {
      padding-top: 80px; }
      html body main.home {
        height: 100dvh;
        overflow: hidden; }
    html body #stars, html body #stars2, html body #stars3 {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      pointer-events: none; }
    html body #stars {
      width: 1px;
      height: 1px;
      background: transparent;
      box-shadow: 1077px 1732px #FFF, 1293px 343px #FFF, 709px 1500px #FFF, 382px 1687px #FFF, 577px 1119px #FFF, 1051px 770px #FFF, 166px 288px #FFF, 1193px 311px #FFF, 1474px 1030px #FFF, 794px 1219px #FFF, 1663px 537px #FFF, 1940px 226px #FFF, 1812px 956px #FFF, 130px 658px #FFF, 322px 188px #FFF, 1124px 1378px #FFF, 1162px 1456px #FFF, 1858px 541px #FFF, 1279px 549px #FFF, 569px 1423px #FFF, 1334px 372px #FFF, 1744px 729px #FFF, 1117px 1914px #FFF, 1866px 1564px #FFF, 1950px 1736px #FFF, 667px 460px #FFF, 1783px 177px #FFF, 1174px 1926px #FFF, 865px 582px #FFF, 1658px 1726px #FFF, 1643px 1342px #FFF, 259px 1355px #FFF, 1583px 1475px #FFF, 1160px 1842px #FFF, 832px 38px #FFF, 1731px 854px #FFF, 97px 1482px #FFF, 1938px 1201px #FFF, 1210px 475px #FFF, 78px 334px #FFF, 163px 1543px #FFF, 273px 932px #FFF, 1422px 726px #FFF, 1667px 1891px #FFF, 564px 1785px #FFF, 988px 770px #FFF, 1499px 1567px #FFF, 293px 829px #FFF, 206px 886px #FFF, 1604px 109px #FFF, 262px 1731px #FFF, 1649px 1196px #FFF, 1579px 336px #FFF, 1223px 552px #FFF, 768px 364px #FFF, 470px 890px #FFF, 847px 1827px #FFF, 848px 707px #FFF, 1412px 1339px #FFF, 244px 1807px #FFF, 1231px 601px #FFF, 1314px 1549px #FFF, 1981px 1106px #FFF, 742px 594px #FFF, 218px 1311px #FFF, 858px 1645px #FFF, 1771px 1875px #FFF, 1059px 665px #FFF, 116px 950px #FFF, 947px 1450px #FFF, 1929px 1589px #FFF, 1255px 784px #FFF, 732px 1823px #FFF, 709px 1666px #FFF, 987px 499px #FFF, 284px 1995px #FFF, 765px 208px #FFF, 584px 337px #FFF, 898px 1978px #FFF, 490px 183px #FFF, 1828px 858px #FFF, 1170px 441px #FFF, 1165px 973px #FFF, 1607px 612px #FFF, 1940px 1377px #FFF, 619px 788px #FFF, 1899px 430px #FFF, 286px 224px #FFF, 1166px 1987px #FFF, 1128px 288px #FFF, 1466px 133px #FFF, 1494px 1081px #FFF, 428px 588px #FFF, 1039px 1773px #FFF, 876px 1329px #FFF, 1005px 44px #FFF, 998px 320px #FFF, 924px 326px #FFF, 1257px 1263px #FFF, 1252px 1611px #FFF, 755px 1509px #FFF, 1613px 1525px #FFF, 1113px 270px #FFF, 573px 813px #FFF, 1183px 763px #FFF, 959px 1209px #FFF, 875px 1362px #FFF, 1357px 1885px #FFF, 1304px 1163px #FFF, 1863px 1387px #FFF, 1834px 1414px #FFF, 75px 1396px #FFF, 1947px 668px #FFF, 393px 55px #FFF, 1051px 668px #FFF, 1516px 1095px #FFF, 789px 1496px #FFF, 1468px 824px #FFF, 1672px 159px #FFF, 28px 631px #FFF, 1918px 417px #FFF, 74px 1175px #FFF, 1149px 150px #FFF, 1081px 1752px #FFF, 1331px 715px #FFF, 1686px 1802px #FFF, 813px 461px #FFF, 931px 96px #FFF, 1447px 320px #FFF, 93px 655px #FFF, 804px 882px #FFF, 851px 1267px #FFF, 1674px 32px #FFF, 275px 769px #FFF, 1556px 524px #FFF, 309px 833px #FFF, 294px 925px #FFF, 1533px 1257px #FFF, 452px 634px #FFF, 1723px 1447px #FFF, 1113px 94px #FFF, 1650px 198px #FFF, 456px 1571px #FFF, 232px 565px #FFF, 1345px 1900px #FFF, 1601px 1588px #FFF, 1576px 472px #FFF, 1184px 811px #FFF, 372px 961px #FFF, 692px 1851px #FFF, 102px 645px #FFF, 449px 1637px #FFF, 1113px 1981px #FFF, 1235px 1115px #FFF, 192px 1490px #FFF, 961px 1346px #FFF, 548px 479px #FFF, 627px 270px #FFF, 167px 243px #FFF, 296px 1898px #FFF, 808px 1589px #FFF, 453px 1070px #FFF, 633px 103px #FFF, 760px 1005px #FFF, 1220px 637px #FFF, 1343px 367px #FFF, 668px 1625px #FFF, 525px 119px #FFF, 907px 1011px #FFF, 485px 931px #FFF, 848px 1238px #FFF, 510px 987px #FFF, 371px 828px #FFF, 1892px 1488px #FFF, 1001px 808px #FFF, 1159px 348px #FFF, 1007px 1525px #FFF, 1692px 61px #FFF, 1371px 1950px #FFF, 1520px 1644px #FFF, 1383px 451px #FFF, 1953px 954px #FFF, 346px 888px #FFF, 251px 204px #FFF, 1968px 249px #FFF, 1719px 405px #FFF, 1917px 644px #FFF, 537px 496px #FFF, 1595px 328px #FFF, 540px 1801px #FFF, 373px 96px #FFF, 1132px 840px #FFF, 1010px 955px #FFF, 142px 1324px #FFF, 1780px 1091px #FFF, 412px 1625px #FFF, 1136px 1900px #FFF, 178px 239px #FFF, 3px 329px #FFF, 1197px 1512px #FFF, 14px 700px #FFF, 1004px 674px #FFF, 671px 989px #FFF, 826px 431px #FFF, 71px 786px #FFF, 326px 80px #FFF, 1546px 1889px #FFF, 1107px 259px #FFF, 1040px 490px #FFF, 1703px 799px #FFF, 628px 324px #FFF, 783px 661px #FFF, 230px 1282px #FFF, 1485px 1549px #FFF, 1261px 660px #FFF, 528px 1532px #FFF, 1820px 1206px #FFF, 1971px 323px #FFF, 943px 1397px #FFF, 754px 899px #FFF, 805px 289px #FFF, 933px 889px #FFF, 885px 910px #FFF, 1094px 739px #FFF, 978px 984px #FFF, 1204px 1740px #FFF, 1994px 1396px #FFF, 734px 944px #FFF, 1932px 370px #FFF, 1286px 379px #FFF, 743px 1400px #FFF, 868px 1317px #FFF, 663px 775px #FFF, 1891px 1280px #FFF, 1874px 302px #FFF, 1662px 311px #FFF, 1725px 1081px #FFF, 438px 1443px #FFF, 813px 1168px #FFF, 404px 29px #FFF, 33px 1616px #FFF, 939px 1220px #FFF, 339px 831px #FFF, 94px 473px #FFF, 656px 273px #FFF, 717px 884px #FFF, 1577px 453px #FFF, 1515px 357px #FFF, 1752px 1951px #FFF, 1316px 1202px #FFF, 925px 1913px #FFF, 446px 1125px #FFF, 1140px 1272px #FFF, 1863px 1213px #FFF, 1182px 153px #FFF, 276px 126px #FFF, 1063px 1578px #FFF, 460px 1322px #FFF, 926px 1428px #FFF, 1565px 1111px #FFF, 1603px 176px #FFF, 274px 287px #FFF, 396px 1229px #FFF, 77px 296px #FFF, 713px 1524px #FFF, 77px 1px #FFF, 1464px 1507px #FFF, 816px 901px #FFF, 1358px 668px #FFF, 1384px 400px #FFF, 244px 799px #FFF, 1430px 610px #FFF, 1893px 1173px #FFF, 867px 1416px #FFF, 665px 666px #FFF, 1918px 1669px #FFF, 705px 741px #FFF, 1025px 1436px #FFF, 572px 1287px #FFF, 621px 967px #FFF, 1920px 1829px #FFF, 1346px 681px #FFF, 1218px 866px #FFF, 1688px 32px #FFF, 1400px 1204px #FFF, 1700px 774px #FFF, 967px 309px #FFF, 758px 1686px #FFF, 877px 533px #FFF, 1095px 1539px #FFF, 1462px 699px #FFF, 46px 1053px #FFF, 1214px 1287px #FFF, 620px 619px #FFF, 1941px 1684px #FFF, 349px 939px #FFF, 493px 334px #FFF, 51px 1448px #FFF, 1252px 508px #FFF, 466px 578px #FFF, 1301px 1040px #FFF, 1771px 925px #FFF, 1839px 388px #FFF, 1287px 856px #FFF, 908px 1298px #FFF, 1245px 326px #FFF, 1608px 59px #FFF, 702px 49px #FFF, 472px 383px #FFF, 337px 698px #FFF, 737px 1564px #FFF, 1933px 772px #FFF, 1028px 1373px #FFF, 1391px 860px #FFF, 87px 1077px #FFF, 58px 1671px #FFF, 1013px 1514px #FFF, 1275px 1752px #FFF, 1127px 644px #FFF, 609px 42px #FFF, 409px 393px #FFF, 131px 929px #FFF, 1212px 1770px #FFF, 887px 285px #FFF, 1785px 1734px #FFF, 1706px 964px #FFF, 1218px 578px #FFF, 1919px 401px #FFF, 1460px 714px #FFF, 1160px 1989px #FFF, 1991px 415px #FFF, 541px 462px #FFF, 1789px 312px #FFF, 1284px 840px #FFF, 1363px 1112px #FFF, 1391px 390px #FFF, 1910px 539px #FFF, 607px 1310px #FFF, 122px 1534px #FFF, 129px 1683px #FFF, 208px 367px #FFF, 48px 1397px #FFF, 687px 1802px #FFF, 1844px 450px #FFF, 470px 290px #FFF, 1771px 59px #FFF, 677px 1225px #FFF, 451px 1953px #FFF, 1506px 41px #FFF, 1278px 955px #FFF, 1299px 1067px #FFF, 373px 595px #FFF, 1685px 641px #FFF, 1973px 765px #FFF, 1680px 398px #FFF, 613px 1982px #FFF, 1730px 1276px #FFF, 536px 1076px #FFF, 853px 217px #FFF, 492px 1986px #FFF, 398px 341px #FFF, 1792px 1428px #FFF, 509px 731px #FFF, 1164px 858px #FFF, 828px 1273px #FFF, 1618px 449px #FFF, 172px 110px #FFF, 436px 79px #FFF, 432px 840px #FFF, 1889px 1042px #FFF, 1585px 1335px #FFF, 1373px 1031px #FFF, 1914px 653px #FFF, 341px 1756px #FFF, 1125px 1396px #FFF, 1580px 363px #FFF, 1835px 34px #FFF, 1037px 427px #FFF, 101px 1603px #FFF, 200px 801px #FFF, 1994px 1770px #FFF, 1966px 273px #FFF, 1566px 1176px #FFF, 566px 1381px #FFF, 1913px 1449px #FFF, 1451px 1948px #FFF, 326px 1838px #FFF, 1897px 1116px #FFF, 712px 135px #FFF, 259px 1957px #FFF, 811px 1701px #FFF, 518px 230px #FFF, 1427px 1842px #FFF, 300px 439px #FFF, 421px 802px #FFF, 687px 1056px #FFF, 1552px 1903px #FFF, 1865px 379px #FFF, 1292px 905px #FFF, 826px 808px #FFF, 1773px 820px #FFF, 456px 616px #FFF, 1191px 1472px #FFF, 919px 243px #FFF, 339px 1031px #FFF, 666px 1044px #FFF, 1366px 1859px #FFF, 1793px 1730px #FFF, 299px 1655px #FFF, 327px 254px #FFF, 685px 1020px #FFF, 285px 607px #FFF, 794px 1593px #FFF, 1047px 349px #FFF, 1125px 1720px #FFF, 623px 59px #FFF, 716px 645px #FFF, 860px 176px #FFF, 753px 1767px #FFF, 39px 172px #FFF, 1517px 968px #FFF, 1555px 1650px #FFF, 360px 1356px #FFF, 1769px 1539px #FFF, 1599px 1465px #FFF, 1620px 1028px #FFF, 1383px 492px #FFF, 1550px 1549px #FFF, 511px 877px #FFF, 1130px 511px #FFF, 1370px 524px #FFF, 1406px 228px #FFF, 42px 1543px #FFF, 1838px 261px #FFF, 295px 1607px #FFF, 95px 1887px #FFF, 1139px 899px #FFF, 262px 440px #FFF, 86px 1937px #FFF, 159px 698px #FFF, 520px 1174px #FFF, 1689px 318px #FFF, 1718px 1010px #FFF, 346px 867px #FFF, 1373px 1050px #FFF, 1775px 532px #FFF, 661px 859px #FFF, 1786px 1420px #FFF, 277px 1466px #FFF, 1330px 751px #FFF, 908px 1567px #FFF, 1408px 1919px #FFF, 1891px 1360px #FFF, 57px 232px #FFF, 670px 1163px #FFF, 757px 1001px #FFF, 1548px 488px #FFF, 995px 579px #FFF, 246px 1346px #FFF, 999px 510px #FFF, 1854px 161px #FFF, 1407px 444px #FFF, 2000px 1857px #FFF, 1814px 871px #FFF, 694px 1660px #FFF, 339px 1171px #FFF, 1888px 1036px #FFF, 559px 1496px #FFF, 926px 1751px #FFF, 1065px 950px #FFF, 939px 1737px #FFF, 203px 1766px #FFF, 1425px 514px #FFF, 920px 1564px #FFF, 1137px 1050px #FFF, 706px 522px #FFF, 1726px 131px #FFF, 1293px 156px #FFF, 336px 44px #FFF, 248px 681px #FFF, 246px 509px #FFF, 440px 180px #FFF, 210px 894px #FFF, 1296px 1721px #FFF, 270px 1767px #FFF, 1714px 978px #FFF, 574px 1458px #FFF, 560px 870px #FFF, 1028px 1647px #FFF, 1559px 1345px #FFF, 410px 522px #FFF, 514px 1344px #FFF, 728px 1901px #FFF, 909px 1188px #FFF, 981px 293px #FFF, 1018px 1781px #FFF, 1308px 618px #FFF, 1997px 460px #FFF, 1070px 1812px #FFF, 1369px 1410px #FFF, 218px 1793px #FFF, 1260px 59px #FFF, 52px 1927px #FFF, 1800px 1974px #FFF, 1314px 1752px #FFF, 3px 816px #FFF, 618px 488px #FFF, 940px 1327px #FFF, 179px 1138px #FFF, 1158px 997px #FFF, 806px 1896px #FFF, 239px 1087px #FFF, 1826px 1961px #FFF, 1903px 848px #FFF, 1738px 1557px #FFF, 1119px 1092px #FFF, 928px 75px #FFF, 1577px 1217px #FFF, 1498px 82px #FFF, 302px 1126px #FFF, 1558px 330px #FFF, 824px 1042px #FFF, 886px 142px #FFF, 1892px 843px #FFF, 1968px 1137px #FFF, 507px 317px #FFF, 443px 164px #FFF, 526px 810px #FFF, 484px 1946px #FFF, 1132px 489px #FFF, 1958px 1247px #FFF, 1268px 1103px #FFF, 763px 152px #FFF, 1751px 1516px #FFF, 1303px 949px #FFF, 42px 952px #FFF, 335px 950px #FFF, 696px 1453px #FFF, 1810px 644px #FFF, 1456px 1698px #FFF, 207px 1537px #FFF, 1878px 928px #FFF, 971px 1278px #FFF, 98px 1292px #FFF, 1698px 823px #FFF, 472px 171px #FFF, 746px 1241px #FFF, 99px 34px #FFF, 1901px 815px #FFF, 1515px 1780px #FFF, 89px 1066px #FFF, 845px 1855px #FFF, 1725px 1822px #FFF, 1035px 560px #FFF, 1804px 1128px #FFF, 1003px 1781px #FFF, 749px 138px #FFF, 1208px 653px #FFF, 1083px 1162px #FFF, 1911px 1607px #FFF, 37px 1788px #FFF, 1806px 398px #FFF, 1663px 925px #FFF, 1420px 433px #FFF, 1508px 359px #FFF, 1432px 217px #FFF, 1152px 1964px #FFF, 1258px 148px #FFF, 186px 1892px #FFF, 826px 1048px #FFF, 1798px 1020px #FFF, 1881px 1751px #FFF, 918px 1288px #FFF, 1557px 1256px #FFF, 1659px 1071px #FFF, 617px 1660px #FFF, 560px 1250px #FFF, 1px 542px #FFF, 1206px 1184px #FFF, 1263px 864px #FFF, 1683px 39px #FFF, 119px 381px #FFF, 377px 220px #FFF, 472px 1047px #FFF, 112px 968px #FFF, 679px 1532px #FFF, 1798px 6px #FFF, 967px 1780px #FFF, 228px 483px #FFF, 1121px 1809px #FFF, 670px 817px #FFF, 1795px 1354px #FFF, 436px 1526px #FFF, 1460px 515px #FFF, 1111px 302px #FFF, 878px 847px #FFF, 1016px 477px #FFF, 1296px 60px #FFF, 714px 1147px #FFF, 901px 628px #FFF, 63px 971px #FFF, 1724px 530px #FFF, 1077px 151px #FFF, 710px 1351px #FFF, 1002px 72px #FFF, 826px 860px #FFF, 1123px 875px #FFF, 1246px 1011px #FFF, 361px 1348px #FFF, 1335px 1486px #FFF, 508px 893px #FFF, 600px 1308px #FFF, 266px 1429px #FFF, 827px 1038px #FFF, 1843px 115px #FFF, 275px 568px #FFF, 1263px 1412px #FFF, 977px 1967px #FFF, 1592px 261px #FFF, 398px 1461px #FFF, 460px 54px #FFF, 705px 413px #FFF, 1319px 1202px #FFF, 1115px 98px #FFF, 914px 1851px #FFF, 862px 1557px #FFF, 969px 510px #FFF, 1299px 233px #FFF, 573px 55px #FFF, 1662px 1631px #FFF, 1701px 67px #FFF, 1059px 593px #FFF, 861px 1292px #FFF, 1053px 1550px #FFF, 1217px 665px #FFF, 1810px 1067px #FFF, 1374px 260px #FFF, 487px 1154px #FFF, 269px 526px #FFF, 965px 974px #FFF, 1447px 410px #FFF, 12px 1084px #FFF, 1262px 569px #FFF, 1073px 1975px #FFF, 1728px 1870px #FFF, 1175px 1334px #FFF, 1718px 1596px #FFF, 422px 1949px #FFF, 603px 1170px #FFF, 1261px 1080px #FFF, 1250px 782px #FFF, 1651px 395px #FFF, 1508px 787px #FFF, 689px 862px #FFF, 1851px 669px #FFF, 681px 1384px #FFF, 1019px 287px #FFF, 1509px 730px #FFF, 412px 1422px #FFF, 1516px 1199px #FFF, 1106px 830px #FFF, 876px 408px #FFF, 1596px 1824px #FFF, 287px 1492px #FFF, 1372px 45px #FFF, 1267px 424px #FFF, 1564px 1139px #FFF, 1265px 1728px #FFF, 1316px 525px #FFF, 1150px 1386px #FFF, 949px 1616px #FFF, 64px 594px #FFF, 1844px 1903px #FFF, 1977px 835px #FFF, 342px 370px #FFF, 1422px 1443px #FFF, 668px 1752px #FFF, 1634px 817px #FFF, 240px 1155px #FFF, 1238px 1374px #FFF, 923px 1627px #FFF, 689px 388px #FFF, 1816px 515px #FFF, 1341px 473px #FFF, 1385px 1883px #FFF, 1595px 442px #FFF, 552px 41px #FFF, 1223px 773px #FFF, 57px 921px #FFF, 1635px 1953px #FFF, 192px 490px #FFF, 1591px 342px #FFF, 566px 1595px #FFF, 339px 73px #FFF, 320px 1971px #FFF, 882px 239px #FFF, 700px 1459px #FFF, 515px 591px #FFF, 371px 1319px #FFF, 115px 850px #FFF;
      animation: animStar 50s linear infinite; }
      html body #stars:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 1px;
        height: 1px;
        background: transparent;
        box-shadow: 1077px 1732px #FFF, 1293px 343px #FFF, 709px 1500px #FFF, 382px 1687px #FFF, 577px 1119px #FFF, 1051px 770px #FFF, 166px 288px #FFF, 1193px 311px #FFF, 1474px 1030px #FFF, 794px 1219px #FFF, 1663px 537px #FFF, 1940px 226px #FFF, 1812px 956px #FFF, 130px 658px #FFF, 322px 188px #FFF, 1124px 1378px #FFF, 1162px 1456px #FFF, 1858px 541px #FFF, 1279px 549px #FFF, 569px 1423px #FFF, 1334px 372px #FFF, 1744px 729px #FFF, 1117px 1914px #FFF, 1866px 1564px #FFF, 1950px 1736px #FFF, 667px 460px #FFF, 1783px 177px #FFF, 1174px 1926px #FFF, 865px 582px #FFF, 1658px 1726px #FFF, 1643px 1342px #FFF, 259px 1355px #FFF, 1583px 1475px #FFF, 1160px 1842px #FFF, 832px 38px #FFF, 1731px 854px #FFF, 97px 1482px #FFF, 1938px 1201px #FFF, 1210px 475px #FFF, 78px 334px #FFF, 163px 1543px #FFF, 273px 932px #FFF, 1422px 726px #FFF, 1667px 1891px #FFF, 564px 1785px #FFF, 988px 770px #FFF, 1499px 1567px #FFF, 293px 829px #FFF, 206px 886px #FFF, 1604px 109px #FFF, 262px 1731px #FFF, 1649px 1196px #FFF, 1579px 336px #FFF, 1223px 552px #FFF, 768px 364px #FFF, 470px 890px #FFF, 847px 1827px #FFF, 848px 707px #FFF, 1412px 1339px #FFF, 244px 1807px #FFF, 1231px 601px #FFF, 1314px 1549px #FFF, 1981px 1106px #FFF, 742px 594px #FFF, 218px 1311px #FFF, 858px 1645px #FFF, 1771px 1875px #FFF, 1059px 665px #FFF, 116px 950px #FFF, 947px 1450px #FFF, 1929px 1589px #FFF, 1255px 784px #FFF, 732px 1823px #FFF, 709px 1666px #FFF, 987px 499px #FFF, 284px 1995px #FFF, 765px 208px #FFF, 584px 337px #FFF, 898px 1978px #FFF, 490px 183px #FFF, 1828px 858px #FFF, 1170px 441px #FFF, 1165px 973px #FFF, 1607px 612px #FFF, 1940px 1377px #FFF, 619px 788px #FFF, 1899px 430px #FFF, 286px 224px #FFF, 1166px 1987px #FFF, 1128px 288px #FFF, 1466px 133px #FFF, 1494px 1081px #FFF, 428px 588px #FFF, 1039px 1773px #FFF, 876px 1329px #FFF, 1005px 44px #FFF, 998px 320px #FFF, 924px 326px #FFF, 1257px 1263px #FFF, 1252px 1611px #FFF, 755px 1509px #FFF, 1613px 1525px #FFF, 1113px 270px #FFF, 573px 813px #FFF, 1183px 763px #FFF, 959px 1209px #FFF, 875px 1362px #FFF, 1357px 1885px #FFF, 1304px 1163px #FFF, 1863px 1387px #FFF, 1834px 1414px #FFF, 75px 1396px #FFF, 1947px 668px #FFF, 393px 55px #FFF, 1051px 668px #FFF, 1516px 1095px #FFF, 789px 1496px #FFF, 1468px 824px #FFF, 1672px 159px #FFF, 28px 631px #FFF, 1918px 417px #FFF, 74px 1175px #FFF, 1149px 150px #FFF, 1081px 1752px #FFF, 1331px 715px #FFF, 1686px 1802px #FFF, 813px 461px #FFF, 931px 96px #FFF, 1447px 320px #FFF, 93px 655px #FFF, 804px 882px #FFF, 851px 1267px #FFF, 1674px 32px #FFF, 275px 769px #FFF, 1556px 524px #FFF, 309px 833px #FFF, 294px 925px #FFF, 1533px 1257px #FFF, 452px 634px #FFF, 1723px 1447px #FFF, 1113px 94px #FFF, 1650px 198px #FFF, 456px 1571px #FFF, 232px 565px #FFF, 1345px 1900px #FFF, 1601px 1588px #FFF, 1576px 472px #FFF, 1184px 811px #FFF, 372px 961px #FFF, 692px 1851px #FFF, 102px 645px #FFF, 449px 1637px #FFF, 1113px 1981px #FFF, 1235px 1115px #FFF, 192px 1490px #FFF, 961px 1346px #FFF, 548px 479px #FFF, 627px 270px #FFF, 167px 243px #FFF, 296px 1898px #FFF, 808px 1589px #FFF, 453px 1070px #FFF, 633px 103px #FFF, 760px 1005px #FFF, 1220px 637px #FFF, 1343px 367px #FFF, 668px 1625px #FFF, 525px 119px #FFF, 907px 1011px #FFF, 485px 931px #FFF, 848px 1238px #FFF, 510px 987px #FFF, 371px 828px #FFF, 1892px 1488px #FFF, 1001px 808px #FFF, 1159px 348px #FFF, 1007px 1525px #FFF, 1692px 61px #FFF, 1371px 1950px #FFF, 1520px 1644px #FFF, 1383px 451px #FFF, 1953px 954px #FFF, 346px 888px #FFF, 251px 204px #FFF, 1968px 249px #FFF, 1719px 405px #FFF, 1917px 644px #FFF, 537px 496px #FFF, 1595px 328px #FFF, 540px 1801px #FFF, 373px 96px #FFF, 1132px 840px #FFF, 1010px 955px #FFF, 142px 1324px #FFF, 1780px 1091px #FFF, 412px 1625px #FFF, 1136px 1900px #FFF, 178px 239px #FFF, 3px 329px #FFF, 1197px 1512px #FFF, 14px 700px #FFF, 1004px 674px #FFF, 671px 989px #FFF, 826px 431px #FFF, 71px 786px #FFF, 326px 80px #FFF, 1546px 1889px #FFF, 1107px 259px #FFF, 1040px 490px #FFF, 1703px 799px #FFF, 628px 324px #FFF, 783px 661px #FFF, 230px 1282px #FFF, 1485px 1549px #FFF, 1261px 660px #FFF, 528px 1532px #FFF, 1820px 1206px #FFF, 1971px 323px #FFF, 943px 1397px #FFF, 754px 899px #FFF, 805px 289px #FFF, 933px 889px #FFF, 885px 910px #FFF, 1094px 739px #FFF, 978px 984px #FFF, 1204px 1740px #FFF, 1994px 1396px #FFF, 734px 944px #FFF, 1932px 370px #FFF, 1286px 379px #FFF, 743px 1400px #FFF, 868px 1317px #FFF, 663px 775px #FFF, 1891px 1280px #FFF, 1874px 302px #FFF, 1662px 311px #FFF, 1725px 1081px #FFF, 438px 1443px #FFF, 813px 1168px #FFF, 404px 29px #FFF, 33px 1616px #FFF, 939px 1220px #FFF, 339px 831px #FFF, 94px 473px #FFF, 656px 273px #FFF, 717px 884px #FFF, 1577px 453px #FFF, 1515px 357px #FFF, 1752px 1951px #FFF, 1316px 1202px #FFF, 925px 1913px #FFF, 446px 1125px #FFF, 1140px 1272px #FFF, 1863px 1213px #FFF, 1182px 153px #FFF, 276px 126px #FFF, 1063px 1578px #FFF, 460px 1322px #FFF, 926px 1428px #FFF, 1565px 1111px #FFF, 1603px 176px #FFF, 274px 287px #FFF, 396px 1229px #FFF, 77px 296px #FFF, 713px 1524px #FFF, 77px 1px #FFF, 1464px 1507px #FFF, 816px 901px #FFF, 1358px 668px #FFF, 1384px 400px #FFF, 244px 799px #FFF, 1430px 610px #FFF, 1893px 1173px #FFF, 867px 1416px #FFF, 665px 666px #FFF, 1918px 1669px #FFF, 705px 741px #FFF, 1025px 1436px #FFF, 572px 1287px #FFF, 621px 967px #FFF, 1920px 1829px #FFF, 1346px 681px #FFF, 1218px 866px #FFF, 1688px 32px #FFF, 1400px 1204px #FFF, 1700px 774px #FFF, 967px 309px #FFF, 758px 1686px #FFF, 877px 533px #FFF, 1095px 1539px #FFF, 1462px 699px #FFF, 46px 1053px #FFF, 1214px 1287px #FFF, 620px 619px #FFF, 1941px 1684px #FFF, 349px 939px #FFF, 493px 334px #FFF, 51px 1448px #FFF, 1252px 508px #FFF, 466px 578px #FFF, 1301px 1040px #FFF, 1771px 925px #FFF, 1839px 388px #FFF, 1287px 856px #FFF, 908px 1298px #FFF, 1245px 326px #FFF, 1608px 59px #FFF, 702px 49px #FFF, 472px 383px #FFF, 337px 698px #FFF, 737px 1564px #FFF, 1933px 772px #FFF, 1028px 1373px #FFF, 1391px 860px #FFF, 87px 1077px #FFF, 58px 1671px #FFF, 1013px 1514px #FFF, 1275px 1752px #FFF, 1127px 644px #FFF, 609px 42px #FFF, 409px 393px #FFF, 131px 929px #FFF, 1212px 1770px #FFF, 887px 285px #FFF, 1785px 1734px #FFF, 1706px 964px #FFF, 1218px 578px #FFF, 1919px 401px #FFF, 1460px 714px #FFF, 1160px 1989px #FFF, 1991px 415px #FFF, 541px 462px #FFF, 1789px 312px #FFF, 1284px 840px #FFF, 1363px 1112px #FFF, 1391px 390px #FFF, 1910px 539px #FFF, 607px 1310px #FFF, 122px 1534px #FFF, 129px 1683px #FFF, 208px 367px #FFF, 48px 1397px #FFF, 687px 1802px #FFF, 1844px 450px #FFF, 470px 290px #FFF, 1771px 59px #FFF, 677px 1225px #FFF, 451px 1953px #FFF, 1506px 41px #FFF, 1278px 955px #FFF, 1299px 1067px #FFF, 373px 595px #FFF, 1685px 641px #FFF, 1973px 765px #FFF, 1680px 398px #FFF, 613px 1982px #FFF, 1730px 1276px #FFF, 536px 1076px #FFF, 853px 217px #FFF, 492px 1986px #FFF, 398px 341px #FFF, 1792px 1428px #FFF, 509px 731px #FFF, 1164px 858px #FFF, 828px 1273px #FFF, 1618px 449px #FFF, 172px 110px #FFF, 436px 79px #FFF, 432px 840px #FFF, 1889px 1042px #FFF, 1585px 1335px #FFF, 1373px 1031px #FFF, 1914px 653px #FFF, 341px 1756px #FFF, 1125px 1396px #FFF, 1580px 363px #FFF, 1835px 34px #FFF, 1037px 427px #FFF, 101px 1603px #FFF, 200px 801px #FFF, 1994px 1770px #FFF, 1966px 273px #FFF, 1566px 1176px #FFF, 566px 1381px #FFF, 1913px 1449px #FFF, 1451px 1948px #FFF, 326px 1838px #FFF, 1897px 1116px #FFF, 712px 135px #FFF, 259px 1957px #FFF, 811px 1701px #FFF, 518px 230px #FFF, 1427px 1842px #FFF, 300px 439px #FFF, 421px 802px #FFF, 687px 1056px #FFF, 1552px 1903px #FFF, 1865px 379px #FFF, 1292px 905px #FFF, 826px 808px #FFF, 1773px 820px #FFF, 456px 616px #FFF, 1191px 1472px #FFF, 919px 243px #FFF, 339px 1031px #FFF, 666px 1044px #FFF, 1366px 1859px #FFF, 1793px 1730px #FFF, 299px 1655px #FFF, 327px 254px #FFF, 685px 1020px #FFF, 285px 607px #FFF, 794px 1593px #FFF, 1047px 349px #FFF, 1125px 1720px #FFF, 623px 59px #FFF, 716px 645px #FFF, 860px 176px #FFF, 753px 1767px #FFF, 39px 172px #FFF, 1517px 968px #FFF, 1555px 1650px #FFF, 360px 1356px #FFF, 1769px 1539px #FFF, 1599px 1465px #FFF, 1620px 1028px #FFF, 1383px 492px #FFF, 1550px 1549px #FFF, 511px 877px #FFF, 1130px 511px #FFF, 1370px 524px #FFF, 1406px 228px #FFF, 42px 1543px #FFF, 1838px 261px #FFF, 295px 1607px #FFF, 95px 1887px #FFF, 1139px 899px #FFF, 262px 440px #FFF, 86px 1937px #FFF, 159px 698px #FFF, 520px 1174px #FFF, 1689px 318px #FFF, 1718px 1010px #FFF, 346px 867px #FFF, 1373px 1050px #FFF, 1775px 532px #FFF, 661px 859px #FFF, 1786px 1420px #FFF, 277px 1466px #FFF, 1330px 751px #FFF, 908px 1567px #FFF, 1408px 1919px #FFF, 1891px 1360px #FFF, 57px 232px #FFF, 670px 1163px #FFF, 757px 1001px #FFF, 1548px 488px #FFF, 995px 579px #FFF, 246px 1346px #FFF, 999px 510px #FFF, 1854px 161px #FFF, 1407px 444px #FFF, 2000px 1857px #FFF, 1814px 871px #FFF, 694px 1660px #FFF, 339px 1171px #FFF, 1888px 1036px #FFF, 559px 1496px #FFF, 926px 1751px #FFF, 1065px 950px #FFF, 939px 1737px #FFF, 203px 1766px #FFF, 1425px 514px #FFF, 920px 1564px #FFF, 1137px 1050px #FFF, 706px 522px #FFF, 1726px 131px #FFF, 1293px 156px #FFF, 336px 44px #FFF, 248px 681px #FFF, 246px 509px #FFF, 440px 180px #FFF, 210px 894px #FFF, 1296px 1721px #FFF, 270px 1767px #FFF, 1714px 978px #FFF, 574px 1458px #FFF, 560px 870px #FFF, 1028px 1647px #FFF, 1559px 1345px #FFF, 410px 522px #FFF, 514px 1344px #FFF, 728px 1901px #FFF, 909px 1188px #FFF, 981px 293px #FFF, 1018px 1781px #FFF, 1308px 618px #FFF, 1997px 460px #FFF, 1070px 1812px #FFF, 1369px 1410px #FFF, 218px 1793px #FFF, 1260px 59px #FFF, 52px 1927px #FFF, 1800px 1974px #FFF, 1314px 1752px #FFF, 3px 816px #FFF, 618px 488px #FFF, 940px 1327px #FFF, 179px 1138px #FFF, 1158px 997px #FFF, 806px 1896px #FFF, 239px 1087px #FFF, 1826px 1961px #FFF, 1903px 848px #FFF, 1738px 1557px #FFF, 1119px 1092px #FFF, 928px 75px #FFF, 1577px 1217px #FFF, 1498px 82px #FFF, 302px 1126px #FFF, 1558px 330px #FFF, 824px 1042px #FFF, 886px 142px #FFF, 1892px 843px #FFF, 1968px 1137px #FFF, 507px 317px #FFF, 443px 164px #FFF, 526px 810px #FFF, 484px 1946px #FFF, 1132px 489px #FFF, 1958px 1247px #FFF, 1268px 1103px #FFF, 763px 152px #FFF, 1751px 1516px #FFF, 1303px 949px #FFF, 42px 952px #FFF, 335px 950px #FFF, 696px 1453px #FFF, 1810px 644px #FFF, 1456px 1698px #FFF, 207px 1537px #FFF, 1878px 928px #FFF, 971px 1278px #FFF, 98px 1292px #FFF, 1698px 823px #FFF, 472px 171px #FFF, 746px 1241px #FFF, 99px 34px #FFF, 1901px 815px #FFF, 1515px 1780px #FFF, 89px 1066px #FFF, 845px 1855px #FFF, 1725px 1822px #FFF, 1035px 560px #FFF, 1804px 1128px #FFF, 1003px 1781px #FFF, 749px 138px #FFF, 1208px 653px #FFF, 1083px 1162px #FFF, 1911px 1607px #FFF, 37px 1788px #FFF, 1806px 398px #FFF, 1663px 925px #FFF, 1420px 433px #FFF, 1508px 359px #FFF, 1432px 217px #FFF, 1152px 1964px #FFF, 1258px 148px #FFF, 186px 1892px #FFF, 826px 1048px #FFF, 1798px 1020px #FFF, 1881px 1751px #FFF, 918px 1288px #FFF, 1557px 1256px #FFF, 1659px 1071px #FFF, 617px 1660px #FFF, 560px 1250px #FFF, 1px 542px #FFF, 1206px 1184px #FFF, 1263px 864px #FFF, 1683px 39px #FFF, 119px 381px #FFF, 377px 220px #FFF, 472px 1047px #FFF, 112px 968px #FFF, 679px 1532px #FFF, 1798px 6px #FFF, 967px 1780px #FFF, 228px 483px #FFF, 1121px 1809px #FFF, 670px 817px #FFF, 1795px 1354px #FFF, 436px 1526px #FFF, 1460px 515px #FFF, 1111px 302px #FFF, 878px 847px #FFF, 1016px 477px #FFF, 1296px 60px #FFF, 714px 1147px #FFF, 901px 628px #FFF, 63px 971px #FFF, 1724px 530px #FFF, 1077px 151px #FFF, 710px 1351px #FFF, 1002px 72px #FFF, 826px 860px #FFF, 1123px 875px #FFF, 1246px 1011px #FFF, 361px 1348px #FFF, 1335px 1486px #FFF, 508px 893px #FFF, 600px 1308px #FFF, 266px 1429px #FFF, 827px 1038px #FFF, 1843px 115px #FFF, 275px 568px #FFF, 1263px 1412px #FFF, 977px 1967px #FFF, 1592px 261px #FFF, 398px 1461px #FFF, 460px 54px #FFF, 705px 413px #FFF, 1319px 1202px #FFF, 1115px 98px #FFF, 914px 1851px #FFF, 862px 1557px #FFF, 969px 510px #FFF, 1299px 233px #FFF, 573px 55px #FFF, 1662px 1631px #FFF, 1701px 67px #FFF, 1059px 593px #FFF, 861px 1292px #FFF, 1053px 1550px #FFF, 1217px 665px #FFF, 1810px 1067px #FFF, 1374px 260px #FFF, 487px 1154px #FFF, 269px 526px #FFF, 965px 974px #FFF, 1447px 410px #FFF, 12px 1084px #FFF, 1262px 569px #FFF, 1073px 1975px #FFF, 1728px 1870px #FFF, 1175px 1334px #FFF, 1718px 1596px #FFF, 422px 1949px #FFF, 603px 1170px #FFF, 1261px 1080px #FFF, 1250px 782px #FFF, 1651px 395px #FFF, 1508px 787px #FFF, 689px 862px #FFF, 1851px 669px #FFF, 681px 1384px #FFF, 1019px 287px #FFF, 1509px 730px #FFF, 412px 1422px #FFF, 1516px 1199px #FFF, 1106px 830px #FFF, 876px 408px #FFF, 1596px 1824px #FFF, 287px 1492px #FFF, 1372px 45px #FFF, 1267px 424px #FFF, 1564px 1139px #FFF, 1265px 1728px #FFF, 1316px 525px #FFF, 1150px 1386px #FFF, 949px 1616px #FFF, 64px 594px #FFF, 1844px 1903px #FFF, 1977px 835px #FFF, 342px 370px #FFF, 1422px 1443px #FFF, 668px 1752px #FFF, 1634px 817px #FFF, 240px 1155px #FFF, 1238px 1374px #FFF, 923px 1627px #FFF, 689px 388px #FFF, 1816px 515px #FFF, 1341px 473px #FFF, 1385px 1883px #FFF, 1595px 442px #FFF, 552px 41px #FFF, 1223px 773px #FFF, 57px 921px #FFF, 1635px 1953px #FFF, 192px 490px #FFF, 1591px 342px #FFF, 566px 1595px #FFF, 339px 73px #FFF, 320px 1971px #FFF, 882px 239px #FFF, 700px 1459px #FFF, 515px 591px #FFF, 371px 1319px #FFF, 115px 850px #FFF; }
    html body #stars2 {
      width: 2px;
      height: 2px;
      background: transparent;
      box-shadow: 329px 1744px #FFF, 137px 1644px #FFF, 1981px 943px #FFF, 892px 1050px #FFF, 1564px 633px #FFF, 1028px 654px #FFF, 1602px 290px #FFF, 1536px 256px #FFF, 457px 261px #FFF, 1090px 1117px #FFF, 960px 1479px #FFF, 1356px 499px #FFF, 1109px 960px #FFF, 869px 453px #FFF, 1239px 540px #FFF, 969px 1019px #FFF, 1834px 488px #FFF, 45px 1688px #FFF, 1706px 1082px #FFF, 209px 207px #FFF, 512px 272px #FFF, 662px 1292px #FFF, 469px 1323px #FFF, 91px 1334px #FFF, 330px 1335px #FFF, 1829px 880px #FFF, 73px 13px #FFF, 1117px 124px #FFF, 568px 891px #FFF, 1096px 81px #FFF, 1116px 557px #FFF, 670px 1030px #FFF, 590px 1558px #FFF, 1721px 1306px #FFF, 780px 19px #FFF, 930px 836px #FFF, 1362px 239px #FFF, 333px 498px #FFF, 1769px 1504px #FFF, 879px 207px #FFF, 228px 243px #FFF, 1397px 305px #FFF, 1075px 570px #FFF, 1129px 1074px #FFF, 1864px 1953px #FFF, 1839px 1056px #FFF, 42px 1041px #FFF, 1387px 651px #FFF, 61px 1707px #FFF, 313px 727px #FFF, 1914px 1926px #FFF, 154px 910px #FFF, 1503px 1411px #FFF, 301px 1953px #FFF, 1920px 374px #FFF, 1136px 294px #FFF, 634px 377px #FFF, 661px 1853px #FFF, 1490px 846px #FFF, 1256px 1864px #FFF, 1643px 56px #FFF, 1059px 1297px #FFF, 1273px 1734px #FFF, 806px 1937px #FFF, 1486px 1471px #FFF, 1907px 701px #FFF, 1421px 1633px #FFF, 1156px 850px #FFF, 85px 239px #FFF, 1229px 1956px #FFF, 1269px 1608px #FFF, 385px 542px #FFF, 618px 1188px #FFF, 271px 628px #FFF, 1465px 1273px #FFF, 1853px 129px #FFF, 558px 121px #FFF, 1874px 1916px #FFF, 720px 1903px #FFF, 1940px 1406px #FFF, 329px 502px #FFF, 294px 1421px #FFF, 1376px 1196px #FFF, 1901px 195px #FFF, 1590px 1619px #FFF, 512px 1174px #FFF, 1199px 972px #FFF, 58px 696px #FFF, 1904px 14px #FFF, 1235px 1123px #FFF, 436px 285px #FFF, 331px 1119px #FFF, 1814px 665px #FFF, 1405px 275px #FFF, 634px 1837px #FFF, 1526px 1670px #FFF, 486px 39px #FFF, 415px 603px #FFF, 1700px 855px #FFF, 1236px 756px #FFF, 1672px 556px #FFF, 1762px 114px #FFF, 1370px 70px #FFF, 1190px 993px #FFF, 1252px 76px #FFF, 1946px 1218px #FFF, 1434px 1051px #FFF, 963px 731px #FFF, 848px 828px #FFF, 1515px 335px #FFF, 1108px 413px #FFF, 653px 726px #FFF, 1556px 1167px #FFF, 119px 924px #FFF, 1163px 762px #FFF, 259px 29px #FFF, 911px 126px #FFF, 702px 163px #FFF, 1317px 1921px #FFF, 1598px 1483px #FFF, 447px 1076px #FFF, 1391px 365px #FFF, 513px 1171px #FFF, 1628px 1728px #FFF, 455px 443px #FFF, 74px 1529px #FFF, 1334px 1297px #FFF, 1665px 1249px #FFF, 406px 546px #FFF, 238px 1436px #FFF, 824px 147px #FFF, 1335px 579px #FFF, 767px 845px #FFF, 201px 245px #FFF, 104px 845px #FFF, 1741px 218px #FFF, 1598px 332px #FFF, 671px 673px #FFF, 1058px 993px #FFF, 1563px 508px #FFF, 722px 1282px #FFF, 1370px 1036px #FFF, 1637px 1950px #FFF, 1094px 271px #FFF, 1726px 1918px #FFF, 8px 1965px #FFF, 469px 833px #FFF, 734px 947px #FFF, 1131px 485px #FFF, 1501px 1855px #FFF, 117px 196px #FFF, 311px 644px #FFF, 1845px 127px #FFF, 176px 1347px #FFF, 1781px 983px #FFF, 786px 524px #FFF, 790px 359px #FFF, 142px 1212px #FFF, 1194px 1054px #FFF, 1051px 1631px #FFF, 919px 1995px #FFF, 372px 744px #FFF, 995px 58px #FFF, 1612px 841px #FFF, 470px 405px #FFF, 640px 1767px #FFF, 85px 411px #FFF, 1467px 1936px #FFF, 1322px 1596px #FFF, 1515px 846px #FFF, 1970px 1576px #FFF, 287px 1121px #FFF, 1856px 1476px #FFF, 1824px 565px #FFF, 265px 545px #FFF, 370px 457px #FFF, 1378px 1993px #FFF, 1829px 1982px #FFF, 1068px 99px #FFF, 1654px 971px #FFF, 324px 1208px #FFF, 1553px 1826px #FFF, 1458px 259px #FFF, 204px 874px #FFF, 1161px 975px #FFF, 27px 751px #FFF, 1780px 969px #FFF, 1680px 1044px #FFF, 414px 371px #FFF, 21px 1619px #FFF, 786px 1132px #FFF, 1579px 1085px #FFF, 40px 1569px #FFF, 810px 1767px #FFF, 1430px 1641px #FFF, 111px 1343px #FFF, 770px 1860px #FFF, 337px 438px #FFF, 1923px 1422px #FFF, 735px 775px #FFF;
      animation: animStar 100s linear infinite; }
      html body #stars2:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 2px;
        height: 2px;
        background: transparent;
        box-shadow: 329px 1744px #FFF, 137px 1644px #FFF, 1981px 943px #FFF, 892px 1050px #FFF, 1564px 633px #FFF, 1028px 654px #FFF, 1602px 290px #FFF, 1536px 256px #FFF, 457px 261px #FFF, 1090px 1117px #FFF, 960px 1479px #FFF, 1356px 499px #FFF, 1109px 960px #FFF, 869px 453px #FFF, 1239px 540px #FFF, 969px 1019px #FFF, 1834px 488px #FFF, 45px 1688px #FFF, 1706px 1082px #FFF, 209px 207px #FFF, 512px 272px #FFF, 662px 1292px #FFF, 469px 1323px #FFF, 91px 1334px #FFF, 330px 1335px #FFF, 1829px 880px #FFF, 73px 13px #FFF, 1117px 124px #FFF, 568px 891px #FFF, 1096px 81px #FFF, 1116px 557px #FFF, 670px 1030px #FFF, 590px 1558px #FFF, 1721px 1306px #FFF, 780px 19px #FFF, 930px 836px #FFF, 1362px 239px #FFF, 333px 498px #FFF, 1769px 1504px #FFF, 879px 207px #FFF, 228px 243px #FFF, 1397px 305px #FFF, 1075px 570px #FFF, 1129px 1074px #FFF, 1864px 1953px #FFF, 1839px 1056px #FFF, 42px 1041px #FFF, 1387px 651px #FFF, 61px 1707px #FFF, 313px 727px #FFF, 1914px 1926px #FFF, 154px 910px #FFF, 1503px 1411px #FFF, 301px 1953px #FFF, 1920px 374px #FFF, 1136px 294px #FFF, 634px 377px #FFF, 661px 1853px #FFF, 1490px 846px #FFF, 1256px 1864px #FFF, 1643px 56px #FFF, 1059px 1297px #FFF, 1273px 1734px #FFF, 806px 1937px #FFF, 1486px 1471px #FFF, 1907px 701px #FFF, 1421px 1633px #FFF, 1156px 850px #FFF, 85px 239px #FFF, 1229px 1956px #FFF, 1269px 1608px #FFF, 385px 542px #FFF, 618px 1188px #FFF, 271px 628px #FFF, 1465px 1273px #FFF, 1853px 129px #FFF, 558px 121px #FFF, 1874px 1916px #FFF, 720px 1903px #FFF, 1940px 1406px #FFF, 329px 502px #FFF, 294px 1421px #FFF, 1376px 1196px #FFF, 1901px 195px #FFF, 1590px 1619px #FFF, 512px 1174px #FFF, 1199px 972px #FFF, 58px 696px #FFF, 1904px 14px #FFF, 1235px 1123px #FFF, 436px 285px #FFF, 331px 1119px #FFF, 1814px 665px #FFF, 1405px 275px #FFF, 634px 1837px #FFF, 1526px 1670px #FFF, 486px 39px #FFF, 415px 603px #FFF, 1700px 855px #FFF, 1236px 756px #FFF, 1672px 556px #FFF, 1762px 114px #FFF, 1370px 70px #FFF, 1190px 993px #FFF, 1252px 76px #FFF, 1946px 1218px #FFF, 1434px 1051px #FFF, 963px 731px #FFF, 848px 828px #FFF, 1515px 335px #FFF, 1108px 413px #FFF, 653px 726px #FFF, 1556px 1167px #FFF, 119px 924px #FFF, 1163px 762px #FFF, 259px 29px #FFF, 911px 126px #FFF, 702px 163px #FFF, 1317px 1921px #FFF, 1598px 1483px #FFF, 447px 1076px #FFF, 1391px 365px #FFF, 513px 1171px #FFF, 1628px 1728px #FFF, 455px 443px #FFF, 74px 1529px #FFF, 1334px 1297px #FFF, 1665px 1249px #FFF, 406px 546px #FFF, 238px 1436px #FFF, 824px 147px #FFF, 1335px 579px #FFF, 767px 845px #FFF, 201px 245px #FFF, 104px 845px #FFF, 1741px 218px #FFF, 1598px 332px #FFF, 671px 673px #FFF, 1058px 993px #FFF, 1563px 508px #FFF, 722px 1282px #FFF, 1370px 1036px #FFF, 1637px 1950px #FFF, 1094px 271px #FFF, 1726px 1918px #FFF, 8px 1965px #FFF, 469px 833px #FFF, 734px 947px #FFF, 1131px 485px #FFF, 1501px 1855px #FFF, 117px 196px #FFF, 311px 644px #FFF, 1845px 127px #FFF, 176px 1347px #FFF, 1781px 983px #FFF, 786px 524px #FFF, 790px 359px #FFF, 142px 1212px #FFF, 1194px 1054px #FFF, 1051px 1631px #FFF, 919px 1995px #FFF, 372px 744px #FFF, 995px 58px #FFF, 1612px 841px #FFF, 470px 405px #FFF, 640px 1767px #FFF, 85px 411px #FFF, 1467px 1936px #FFF, 1322px 1596px #FFF, 1515px 846px #FFF, 1970px 1576px #FFF, 287px 1121px #FFF, 1856px 1476px #FFF, 1824px 565px #FFF, 265px 545px #FFF, 370px 457px #FFF, 1378px 1993px #FFF, 1829px 1982px #FFF, 1068px 99px #FFF, 1654px 971px #FFF, 324px 1208px #FFF, 1553px 1826px #FFF, 1458px 259px #FFF, 204px 874px #FFF, 1161px 975px #FFF, 27px 751px #FFF, 1780px 969px #FFF, 1680px 1044px #FFF, 414px 371px #FFF, 21px 1619px #FFF, 786px 1132px #FFF, 1579px 1085px #FFF, 40px 1569px #FFF, 810px 1767px #FFF, 1430px 1641px #FFF, 111px 1343px #FFF, 770px 1860px #FFF, 337px 438px #FFF, 1923px 1422px #FFF, 735px 775px #FFF; }
    html body #stars3 {
      width: 3px;
      height: 3px;
      background: transparent;
      box-shadow: 1498px 1900px #FFF, 164px 376px #FFF, 224px 211px #FFF, 1910px 1408px #FFF, 755px 672px #FFF, 92px 688px #FFF, 1454px 112px #FFF, 1383px 1338px #FFF, 1605px 1203px #FFF, 1807px 1415px #FFF, 1414px 1839px #FFF, 1434px 1737px #FFF, 300px 1210px #FFF, 1422px 1850px #FFF, 167px 1072px #FFF, 474px 189px #FFF, 1914px 147px #FFF, 523px 1216px #FFF, 1655px 737px #FFF, 1833px 901px #FFF, 1254px 586px #FFF, 228px 604px #FFF, 1269px 1992px #FFF, 421px 671px #FFF, 1849px 1461px #FFF, 1030px 924px #FFF, 1317px 1665px #FFF, 743px 1459px #FFF, 603px 804px #FFF, 1563px 1685px #FFF, 271px 1557px #FFF, 430px 2px #FFF, 515px 213px #FFF, 384px 646px #FFF, 370px 259px #FFF, 909px 1477px #FFF, 1604px 538px #FFF, 940px 1839px #FFF, 476px 1033px #FFF, 565px 1848px #FFF, 516px 1170px #FFF, 1988px 202px #FFF, 66px 1718px #FFF, 360px 165px #FFF, 366px 1096px #FFF, 49px 276px #FFF, 583px 397px #FFF, 1480px 199px #FFF, 171px 1551px #FFF, 1862px 1923px #FFF, 885px 1034px #FFF, 642px 1347px #FFF, 1157px 231px #FFF, 697px 1924px #FFF, 850px 316px #FFF, 183px 416px #FFF, 1727px 632px #FFF, 830px 939px #FFF, 659px 1929px #FFF, 1213px 740px #FFF, 532px 1720px #FFF, 1041px 1554px #FFF, 588px 1592px #FFF, 1842px 997px #FFF, 1260px 212px #FFF, 442px 384px #FFF, 338px 328px #FFF, 949px 1464px #FFF, 67px 1547px #FFF, 786px 532px #FFF, 1039px 1937px #FFF, 1512px 397px #FFF, 839px 1707px #FFF, 807px 592px #FFF, 959px 1169px #FFF, 1907px 1423px #FFF, 1353px 1350px #FFF, 395px 669px #FFF, 82px 1724px #FFF, 1623px 143px #FFF, 750px 1315px #FFF, 1112px 943px #FFF, 674px 377px #FFF, 932px 827px #FFF, 633px 1848px #FFF, 407px 1020px #FFF, 1122px 603px #FFF, 807px 347px #FFF, 236px 581px #FFF, 112px 1239px #FFF, 1536px 1237px #FFF, 236px 745px #FFF, 1513px 1943px #FFF, 919px 491px #FFF, 796px 265px #FFF, 1750px 696px #FFF, 1913px 160px #FFF, 633px 1186px #FFF, 1360px 306px #FFF, 191px 1190px #FFF;
      animation: animStar 150s linear infinite; }
      html body #stars3:after {
        content: " ";
        position: absolute;
        top: 2000px;
        width: 3px;
        height: 3px;
        background: transparent;
        box-shadow: 1498px 1900px #FFF, 164px 376px #FFF, 224px 211px #FFF, 1910px 1408px #FFF, 755px 672px #FFF, 92px 688px #FFF, 1454px 112px #FFF, 1383px 1338px #FFF, 1605px 1203px #FFF, 1807px 1415px #FFF, 1414px 1839px #FFF, 1434px 1737px #FFF, 300px 1210px #FFF, 1422px 1850px #FFF, 167px 1072px #FFF, 474px 189px #FFF, 1914px 147px #FFF, 523px 1216px #FFF, 1655px 737px #FFF, 1833px 901px #FFF, 1254px 586px #FFF, 228px 604px #FFF, 1269px 1992px #FFF, 421px 671px #FFF, 1849px 1461px #FFF, 1030px 924px #FFF, 1317px 1665px #FFF, 743px 1459px #FFF, 603px 804px #FFF, 1563px 1685px #FFF, 271px 1557px #FFF, 430px 2px #FFF, 515px 213px #FFF, 384px 646px #FFF, 370px 259px #FFF, 909px 1477px #FFF, 1604px 538px #FFF, 940px 1839px #FFF, 476px 1033px #FFF, 565px 1848px #FFF, 516px 1170px #FFF, 1988px 202px #FFF, 66px 1718px #FFF, 360px 165px #FFF, 366px 1096px #FFF, 49px 276px #FFF, 583px 397px #FFF, 1480px 199px #FFF, 171px 1551px #FFF, 1862px 1923px #FFF, 885px 1034px #FFF, 642px 1347px #FFF, 1157px 231px #FFF, 697px 1924px #FFF, 850px 316px #FFF, 183px 416px #FFF, 1727px 632px #FFF, 830px 939px #FFF, 659px 1929px #FFF, 1213px 740px #FFF, 532px 1720px #FFF, 1041px 1554px #FFF, 588px 1592px #FFF, 1842px 997px #FFF, 1260px 212px #FFF, 442px 384px #FFF, 338px 328px #FFF, 949px 1464px #FFF, 67px 1547px #FFF, 786px 532px #FFF, 1039px 1937px #FFF, 1512px 397px #FFF, 839px 1707px #FFF, 807px 592px #FFF, 959px 1169px #FFF, 1907px 1423px #FFF, 1353px 1350px #FFF, 395px 669px #FFF, 82px 1724px #FFF, 1623px 143px #FFF, 750px 1315px #FFF, 1112px 943px #FFF, 674px 377px #FFF, 932px 827px #FFF, 633px 1848px #FFF, 407px 1020px #FFF, 1122px 603px #FFF, 807px 347px #FFF, 236px 581px #FFF, 112px 1239px #FFF, 1536px 1237px #FFF, 236px 745px #FFF, 1513px 1943px #FFF, 919px 491px #FFF, 796px 265px #FFF, 1750px 696px #FFF, 1913px 160px #FFF, 633px 1186px #FFF, 1360px 306px #FFF, 191px 1190px #FFF; }
    html body .page-box .header-title {
      position: relative;
      background-color: rgba(1, 8, 14, 0.9);
      background-size: cover;
      background-position: center;
      color: white;
      padding: 60px 0;
      margin-bottom: 40px;
      overflow: hidden; }
      html body .page-box .header-title h1 {
        text-transform: uppercase;
        font-size: 3.5rem;
        margin: 0;
        text-align: center;
        color: oklch(53.22% 0.162 282.27); }
        html body .page-box .header-title h1 span {
          display: block;
          margin-top: 10px;
          font-size: 2.5rem;
          color: oklch(99.99% 0 0); }
    html body .page-box .info-box {
      margin-top: 30px;
      padding: 20px;
      background: rgba(0, 0, 0, 0.8);
      border-radius: 15px;
      margin-bottom: 30px;
      position: relative;
      animation: fadeIn 0.5s ease-in-out; }
      html body .page-box .info-box .card-info-box {
        background: rgba(43, 45, 66, 0.8);
        padding: 15px;
        border-radius: 10px; }
        html body .page-box .info-box .card-info-box:hover {
          transform: translateY(-5px);
          border: 2px solid oklch(53.22% 0.162 282.27);
          box-shadow: 0 8px 35px rgba(70, 92, 195, 0.3); }
        html body .page-box .info-box .card-info-box img {
          width: 100%;
          height: 350px;
          object-fit: contain;
          transition: transform 0.3s ease;
          background: rgba(0, 0, 0, 0.2); }
          html body .page-box .info-box .card-info-box img:hover {
            transform: scale(1.05); }
    html body footer {
      font-family: 'Poppins', sans-serif;
      color: #6e6d7a;
      font-size: .8rem; }
      html body footer .footer-content {
        position: relative; }
        html body footer .footer-content:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 1px;
          opacity: 0.3;
          background-color: #6e6d7a; }
        html body footer .footer-content .icons {
          cursor: pointer; }
          html body footer .footer-content .icons .instagram-icon {
            margin-right: .5rem; }
        @media (max-width: 768px) {
          html body footer .footer-content {
            flex-direction: column; } }
@keyframes animStar {
  from {
    transform: translateY(0px); }
  to {
    transform: translateY(-2000px); } }
    html body .amcharts-chart-div .amcharts-logo {
      display: none; }

#slick {
  display: none; }
  #slick.slick-initialized {
    display: block; }
  #slick .slick-arrow {
    position: absolute;
    width: 17px;
    height: 1.8rem;
    top: 50%;
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    padding: 0;
    z-index: 100;
    transform: translateY(-50%);
    overflow: hidden;
    text-indent: 1000px; }
    #slick .slick-arrow:hover {
      cursor: pointer; }
    #slick .slick-arrow:focus {
      outline: none; }
  #slick .slick-prev {
    background-image: url("../images/arrow-left.svg"); }
  #slick .slick-next {
    background-image: url("../images/arrow-right.svg"); }

/* Filtro Listagem jogadores */
.filter-input {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  gap: 15px; }

/* Adicionar display flex para alinhar as cards uniformemente */

/*# sourceMappingURL=_global.css.map */